<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Singin Page </title>
    </head>
    <body>
        <h1>Singin Page </h1>
        <!-- <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div> -->
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <div class="list-pages">
            <div>All the guests are allowed to visit:</div>
            <div>Login: user/moderator/admin</div>
            <div>Password: password (for all)</div>
            <ul>
                <li><a href="http://localhost:8080/login">LOGIN PAGE</a></li>
            </ul>
            <div>_____</div>
            <ul>
                <li><a href="http://localhost:8080/logout">LOGOUT - click to logout</a></li>
            </ul>
            <div>_____</div>
            <ul>
                <div>Only the guest with the USER ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/user">USER PAGE</a></li>
                <div>Only the guest with the MODERATOR ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/moderator">MODERATOR PAGE</a></li>
                <div>Only the guest with the ADMIN ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/admin">ADMIN PAGE </a></li>
            </ul>
        </div>
    </body>
</html>