<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>You are logged-in with the USER role</title>
    </head>
    <body>
        <h1>You are logged-in with the USER role</h1>
        <div class="list-pages">
            <div>All the guests are allowed to visit:</div>
            <div>Login: user/moderator/admin</div>
            <div>Password: password (for all)</div>
            <ul>
                <li><a href="http://localhost:8080/login">LOGIN PAGE</a></li>
            </ul>
            <div>_____</div>
            <ul>
                <li><a href="http://localhost:8080/logout">LOGOUT - click to logout</a></li>
            </ul>
            <div>_____</div>
            <ul>
                <div>Only the guest with the USER ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/user">USER PAGE</a></li>
                <div>Only the guest with the MODERATOR ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/moderator">MODERATOR PAGE</a></li>
                <div>Only the guest with the ADMIN ROLE is allowed to visit:</div>
                <li><a href="http://localhost:8080/admin">ADMIN PAGE </a></li>
            </ul>
        </div>
    </body>
</html>